@import 'base/variables/colors.sass'
@import 'base/mixins/fonst-mixins.sass'
@import 'base/mixins/animation.sass'
@import 'components/buttons.sass'
@import 'components/basic.sass'
@import 'components/basic__card-primary.sass'
@import 'components/basic__card-secondary.sass'
@import 'components/mobile__card-primary.sass'
@import 'components/swiper-mobile.sass'
@import 'components/card-tabs-img.sass'
@import 'components/tabs-control.sass'
@import 'layouts/header.sass'
@import 'layouts/cleaning.sass'
@import 'layouts/dry-cleaning.sass'
@import 'layouts/why-cleaning.sass'

*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    background: $--white-primary
    +transition-focus-blue
    &.focus-blue
        background: $--black-primary
        
.container
    max-width: 1186px
    margin: 0 auto
    @media (max-width: 1185px)
        max-width: 440px
        padding: 0 15px
    .container_non-padding
        padding: 0

.lol
    height: 1000px

.mySwiper
    overflow: hidden
    width: 1186px
    height: 400px
    position: relative
    .swiper-wrapper
        .swiper-slide
            width: 290px
            height: 290px
            .box
                width: 382px
                height: 382px
                border: 2px solid black
    .swiper-button-prev
        width: 48px
        height: 48px
        background: red
        border-radius: 50%
        display: block
        &.swiper-button-disabled
            display: none
    .swiper-button-next
        width: 48px
        height: 48px
        background: blue
        border-radius: 50%
        display: block
        &.swiper-button-disabled
            display: none

.swiper-button-prev::after,
.swiper-button-next::after 
    content: ''