@import 'base/variables/colors.sass'
@import 'base/mixins/fonst-mixins.sass'
@import 'base/mixins/animation.sass'
@import 'components/buttons.sass'
@import 'components/basic.sass'
@import 'components/basic__card-primary.sass'
@import 'components/mobile__card-primary.sass'
@import 'layouts/header.sass'
@import 'layouts/cleaning.sass'

*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    background: $--white-primary
    +transition-focus-blue
    &.focus-blue
        background: $--black-primary
        
.container
    max-width: 1186px
    margin: 0 auto
    @media (max-width: 1185px)
        max-width: 440px
        padding: 0 15px

.cleaning
    margin-top: 80px