@import 'base/variables/colors.sass'
@import 'base/mixins/fonst-mixins.sass'
@import 'components/buttons.sass'
@import 'layouts/_header.sass'

body
    background: $--white-primary
    
.container
    max-width: 1186px
    margin: 0 auto