.accordion
    display: flex
    flex-direction: column
    gap: 20px
    .accordion__item
        padding: 20px 40px
        border-radius: 16px
        box-shadow: inset 0 0 0 1px $--grey-primary
        background: $--black-primary
        max-height: 88px

        transition: max-height 0.4s, padding 0.4s, box-shadow 0.2s, background 0.4s

        overflow: hidden

        .accordion__wrapped-title-button
            display: flex
            justify-content: space-between
            align-items: center
            .accordion__title
                +tertiary-title-desktop
                color: $--grey-primary
            .accordion__button
                border-radius: 24px
                display: flex
                width: 48px
                height: 48px
                padding: 12px
                justify-content: center
                align-items: center
                color: $--grey-primary
                transition: 0.2s
        .accordion__text
            +body-text-desktop
            width: 610px
            opacity: 0
            transition: 0.4s
        &.active
            display: flex
            flex-direction: column
            gap: 17px
            padding: 40px
            background: $--grey-primary
            pointer-events: none
            .accordion__wrapped-title-button
                .accordion__title
                    color: $--black-primary
                .accordion__button
                    display: none
                    opacity: 0
                    height: 0
            .accordion__text
                opacity: 1
        @media (hover: hover)
            &:hover
                box-shadow: inset 0 0 0 2px $--grey-primary
                .accordion__wrapped-title-button
                    .accordion__button
                        transition: none
                        background: $--grey-primary
                        color: $--black-primary


// .lol
//     margin-top: 100px
//     .boxes
//         display: flex
//         flex-direction: column
//         align-items: center
//         gap: 20px
//         .box
//             border: 1px solid red 
//             background: white
//             width: 100px
//             max-height: 100px
//             transition: 0.4s

//             overflow: hidden
//             .b
//                 color: green
//                 opacity: 0
//                 transition: 0.4s
//             &.active
//                 padding: 10px
//                 max-height: 300px
//                 .b
//                     opacity: 1