.basic
    display: grid
    grid-template-columns: 382px auto
    column-gap: 20px
    &__content
        display: grid
        grid-template-rows: repeat(auto)
        row-gap: 80px
        padding-top: 29px
    &__top
        display: grid
        gap: 40px
        .basic__top-text
            margin-top: 20px
            max-width: 516px
            +body-text-desktop
        .basic__top-title_second
            margin-top: 80px
            +secondary-title-desktop
    &__bottom
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        &.basic__bottom_column-auto
            grid-template-columns: auto
        &.basic__bottom_wrap
                    flex-wrap: wrap
                    .basic__img_adaptive
                        display: none


.basic__sticky-title
        +secondary-title-desktop
        color: $--grey-secondary
        position: sticky
        top: 120px
        +transition-focus-blue
        &.focus-blue
            color: $--black-secondary
    
.basic__top-title
    +lowercase-title-desktop
    +transition-focus-blue
    &.focus-blue
        color: $--black-secondary

@media (max-width: 1185px)
    .basic
        display: flex
        flex-direction: column
        &__content
            display: flex
            flex-direction: column
            padding-top: 60px
            row-gap: 60px
        &__top
            display: flex
            flex-direction: column
            gap: 30px
        &__bottom
            display: flex
            &.basic__bottom_slider
                width: calc( 100% + 30px)
                transform: translateX(-15px)
        .basic__card-primary
            display: none
        .card-tabs-img
            display: none