.btn-nav
    display: inline-flex
    height: 24px
    padding: 5px 10px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border: none
    border-radius: 12px
    background: $--white-primary
    +helper-title-desktop
    transition: 0.2s

    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary
    
    // @media (hover: none)
    //     &:active
    //         background: $--black-primary
    //         color: $--white-primary

    @media (max-width: 1185px)
        transition: none
        // &:active
        //     color: $--white-primary
        //     background: $--black-primary

.btn-icon
    display: flex
    width: 48px
    height: 48px
    padding: 12px
    justify-content: center
    align-items: center
    flex-shrink: 0
    border: none
    border-radius: 24px
    background: $--white-primary
    color: $--black-primary
    transition: 0.2s
    .icon
        position: absolute
        transition: opacity 0.2s ease-in
        opacity: 0
        &.active
            opacity: 1
    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary
    // @media (max-width: 1185px)     
    //     &:active
    //         color: $--white-primary
    //         background: $--black-primary

        