.btn-nav
    display: inline-flex
    height: 24px
    padding: 5px 10px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border: none
    border-radius: 12px
    background: $--white-primary
    +helper-title-desktop
    transition: 0.2s ease-in
    text-decoration: none 

    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary

    @media (max-width: 1185px)
        transition: none
    &.btn-nav_dark
        color: $--white-primary
        background: $--black-primary
        @media (hover: hover)
            &:hover
                transition: none
                background: $--white-primary
                color: $--black-primary


        
.btn-icon
    display: flex
    width: 48px
    height: 48px
    padding: 12px
    justify-content: center
    align-items: center
    flex-shrink: 0
    border: none
    border-radius: 24px
    background: $--white-primary
    color: $--black-primary
    transition: 0.2s  ease-in
    .icon
        position: absolute
        transition: opacity 0.2s ease-in
        opacity: 0
        &.active
            opacity: 1
    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary

.btn-primary
    display: inline-flex
    height: 48px
    padding: 0px 20px
    margin-top: 20px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border-radius: 36px
    border: 2px solid $--black-primary
    background: none
    transition: 0.2s ease-in
    
    +tertiary-title-desktop
    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary
    &.btn-primary_grey
        border-color: $--grey-primary
        color: $--grey-primary
        @media (hover: hover)
            &:hover
                background: $--grey-primary
                color: $--black-primary

.btn-hero
    display: inline-flex
    height: 72px
    padding: 0px 40px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border-radius: 36px
    border: 3px solid $--black-primary
    +secondary-title-desktop
    transition: 0.2s ease-in
    background: none
    @media (hover: hover)
        &:hover
            transition: none
            background: $--black-primary
            color: $--white-primary
    &.btn-hero-white
        border-color: $--white-primary
        color: $--white-primary
        @media (hover: hover)
            &:hover
                background: $--white-primary
                color: $--black-primary

// buttons mobile

.btn-hero-mobile
    display: inline-flex
    height: 72px
    padding: 0px 30px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border-radius: 36px
    border: 3px solid $--black-primary
    background: none
    +secondary-title-desktop
    color: $--black-primary

.btn-mobile
    display: inline-flex
    height: 48px
    padding: 0px 15px
    justify-content: center
    align-items: center
    gap: 10px
    flex-shrink: 0
    border-radius: 36px
    border: 2px solid $--black-primary
    background: none
    +tertiary-title-desktop
    &.btn-mobile_white
        border: 2px solid $--white-primary
    &.btn-mobile_grey
        color: $--grey-primary
        border: 2px solid $--grey-primary