.mobile-card_primary
    background-color: $--grey-primary
    border-radius: 8px
    width: 330px
    .mobile-card__slider
        display: flex
        flex-direction: column
        .mobile-card__wrapper
            width: 100%
            padding-left: 30px
            .mobile-card__image
              width: 100%
              transform: translateY(-30px)
              &.mobile-card__image_long
                height: 361px


        .mobile-card__dots
            display: flex
            justify-content: center
            gap: 5px
            .mobile-card__dots_wrapped
                display: flex
                justify-content: center
                align-items: center
                width: 10px
                height: 10px
                .mobile-card__dot
                    width: 8px
                    height: 8px
                    border-radius: 10px
                    border: 2px solid $--black-primary

                    &.active
                      width: 10px
                      height: 10px
                      background: $--black-primary

    .mobile-card__content
        padding: 30px
        display: flex
        flex-direction: column
        gap: 15px
        .mobile-card__title
            +tertiary-title-desktop
        .mobile-card__text
            +body-text-desktop
            min-height: 92px