.swiper 
  width: 100%
  padding: 30px 15px 0 15px


.swiper-wrapper 
  display: flex
  align-items: center


.swiper-slide
  width: 345px
  display: flex
  align-items: center
  justify-content: flex-start
  &:nth-last-child(1)
    width: 330px
    

@media (min-width: 1185px)
    .swiper 
        display: none