.cleaning
    margin-top: 160px
    .speech-bubble__card
        .speech-bubble__card_top
            position: fixed
            top: 80px
        .speech-bubble__card_bottom
            position: fixed
            bottom: 70px
            padding-left: 20px
        .speech-bubble__massage
            display: flex
            align-items: flex-end
            margin-bottom: 10px
            .speech-bubble__body
                box-sizing: border-box
                display: flex
                padding: 10px 20px
                justify-content: flex-start
                align-items: center
                height: 100%
                background: $--blue-primary
                +helper-text-desktop
                color: $--white-primary
                border-radius: 16px

                transform: translateX(-10px)
            .speech-bubble__rectangle_right
                transform: scaleX(-1) translateX(20px)
            .speech-bubble__body_long
                width: 332px
            .speech-bubble__body_medium
                width: 312px
            .speech-bubble__body_short
                width: 292px
            .speech-bubble__body_answer
                width: 332px
                border-radius: 16px
                padding: 20px
                background: $--blue-secondary
                +body-text-desktop
                color: $--white-primary
    .speech-bubble__card-01
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in
    .speech-bubble__card-02
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in
    .speech-bubble__card-03
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in
    .speech-bubble__card-04
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in
    .speech-bubble__card-05
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in
    .speech-bubble__card-06
        display: none
        opacity: 0
        transition: opacity 0.2s ease-in

@media ( max-width: 375px)
    .cleaning
        .mobile-card_primary
            .mobile-card__content
                .mobile-card__text
                    height: 60px

@media ( max-width: 1186px)
    .cleaning
        .basic
            .basic__content
                row-gap: 30px


@media (max-width: 1440px)
    .cleaning
        margin-top: 120px
        .speech-bubble__card
            .speech-bubble__card_top
                top: 40px
            .speech-bubble__card_bottom
                bottom: 30px