.group-images
    margin-top: 80px
    .container
        overflow: clip 
    .group-images_wrapped-mobile
        display: none
    .group-images_wrapped
        width: 1186px
        height: 405px
        position: relative
        .group-images__back-img
            width: 987.493px
            height: 415px
            position: absolute
            left: 40px
            top: -40px
            img
                width: 100%
                height: 100%
        .group-images__front-img
            width: 516.189px
            height: 405px
            position: absolute
            right: 0
            bottom: 0
            z-index: 1
            img
                width: 100%
                height: 100%

@media (max-width: 1186px)
    .group-images
        margin-top: 60px
        .container
            .group-images_wrapped
                display: none
            .group-images_wrapped-mobile
                display: flex
                flex-direction: column

                position: relative

                padding-bottom: 150px
                .group-images__sticky-group
                    width: 100%
                    position: sticky
                    top: -100px
                    z-index: -1
                    .basic__top-text
                        margin-top: 15px
                        +body-text-desktop
                    .group-images__back-img
                        margin-top: 30px
                        width: 738.486px
                        height: 370px
                        img
                            width: 100%
                            height: 100%
                .group-images__front-img
                    position: absolute
                    bottom: 0
                    transform: translateX(30px)
                    width: 497px
                    height: 390px
                    z-index: 1
                    img
                        width: 100%
                        height: 100%
                .test-box
                    opacity: 0.2
                    background: red
                    height: 100px