header
    .navigation
        display: flex
        justify-content: space-between
        height: 80px
        &__logo
            margin-right: auto
            width: 128.889px
            height: 60px
            flex-shrink: 0
            margin-top: 10px
        &__navbar
            display: flex
            align-items: center
            list-style-type: none
            padding: 0
            .hidden
                display: none
        &__item
            margin-right: 12.8px
        &__button
            display: flex
            align-items: center
        &.active
            .navigation
                &__logo
                    display: none
                &__navbar
                    width: 100%
                    justify-content: space-between
                    .hidden
                        display: block
        