.why-cleaning
    margin-top: 160px
    .basic
        .basic__sidebar
            .basic__sticky-title
                display: flex
                flex-direction: column
        .basic__content
            padding-top: 68px
            gap: 0
            .basic__top
                gap: 0
                .basic__top-text
                    margin-top: 20px
                    max-width: 516px
                    +body-text-desktop
                .basic__top-title_second
                    margin-top: 80px
                    +secondary-title-desktop
            .basic__bottom
                margin-top: 40px
                margin-bottom: 120px